<a href="https://colab.research.google.com/github/guannan11/DFE5/blob/main/lambdas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# syntax
# lambda any_var_name : any_transformation_on_input_variable 

# idea-> 1 line of code for execution 
# its faster to execute a lambda function than a full defined function

In [ ]:
randomname = lambda y : y**2

In [ ]:
def randomname(y):
  return y**2

In [ ]:
randomname(4)

16

In [ ]:
import pandas as pd
abc = pd.DataFrame( {"colname": np.array( [ 44, 55, 66, 77, 99])} )
abc.head()

   colname
0       44
1       55
2       66
3       77
4       99

In [ ]:
newval = abc['colname'].map(lambda num: num* 1.36)

In [ ]:
newdf = pd.DataFrame({'originalGBP': abc['colname'],
                     'newUSD': newval})

In [ ]:
newdf.head()

   originalGBP  newUSD
0           44   59.84
1           55   74.80
2           66   89.76
3           77  104.72
4           99  134.64

In [ ]:

randomlambda = lambda x,y: x**y

In [ ]:
randomlambda(6,3)

216