<a href="https://colab.research.google.com/github/guannan11/DFE5/blob/main/Pandas_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# 1.import libraries
import numpy as np
import pandas as pd

# 3.assign it to chipo (variable)
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t') # \t -> tab, \n -> new line

# 4.see fisrt 10 entires
chipo.head(10)

# 5.dataset dimensions 
print(chipo.shape)
print(chipo.shape[0])

# or
chipo.info()

# 6.how many columns
chipo.shape[1]

# 7.names of columns
chipo.columns

# 8.index
chipo.index

# 9 & 10. most ordered item and how many
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

# 11 the most ordered item in the choice_description column
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

# 12.Items ordered in total
total_items_orders = chipo.quantity.sum()
total_items_orders

# 13. turn the item price into a float
chipo.item_price.dtype
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
chipo.item_price.dtype

# 14. what is the revenue
revenue = (chipo['quantity']* chipo['item_price']).sum()
print('Revenue was: &' + str(np.round(revenue,2)))

# 15. how many orders
orders = chipo.order_id.value_counts().count()
orders

# 16. average revenue per order
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum() # total order per order id
order_grouped.mean()['revenue'] # total order sum/ num of orders!

#or
chipo.groupby(by=['order_id']).sum().mean()['revenue']

# 17. How many different items are sold
chipo.item_name.value_counts().count()

(4622, 5)
4622
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
Revenue was: &39237.02

50