<a href="https://colab.research.google.com/github/guannan11/DFE5/blob/main/Py_00_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PANEL DATAFRAMES
# Rectangular datasets
# these rectangular datasets-> ROWS and COLUMNS 
# Already have NUMPY inbuilt -> for ETL and column transformation

# dataset-> pandas
# columns (and no use of dataset)-> only import numpy

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/DFE5/main/breastcancer_data.csv', header=0)

In [ ]:
# print -> automating, console -> only to UI/desktop/server users
# alternate methods for printing
# Any Notebook-> will have its OWN nuiances when dealing with print functions

In [ ]:
# head and tail
# head-> top
# tail-> bottom
# default-> 5 rows, but you can print any count!

In [ ]:
data.head(-1000)

           id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0      842302         M  ...         0.2419                 0.07871
1      842517         M  ...         0.1812                 0.05667
2    84300903         M  ...         0.2069                 0.05999
3    84348301         M  ...         0.2597                 0.09744
4    84358402         M  ...         0.1809                 0.05883
..        ...       ...  ...            ...                     ...
133    867387         B  ...         0.1816                 0.05723
134    867739         M  ...         0.1692                 0.05727
135    868202         M  ...         0.1585                 0.06065
136    868223         B  ...         0.1339                 0.05945
137    868682         B  ...         0.1734                 0.05865

[138 rows x 11 columns]

In [ ]:
data.tail(2)

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
1136  93319         M  ...         0.2397                 0.07016
1137  93320         B  ...         0.1587                 0.05884

[2 rows x 11 columns]

In [ ]:
data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'symmetry_mean', 'fractal_dimension_mean'],
      dtype='object')

In [ ]:
data.columns[-5:] # array level selection

Index(['smoothness_mean', 'compactness_mean', 'concavity_mean',
       'symmetry_mean', 'fractal_dimension_mean'],
      dtype='object')

In [ ]:
data.describe()

                 id  radius_mean  ...  symmetry_mean  fractal_dimension_mean
count  1.138000e+03  1138.000000  ...    1138.000000             1138.000000
mean   1.523243e+07    14.127292  ...       0.181162                0.062798
std    8.965268e+07     3.522499  ...       0.027402                0.007057
min    8.670000e+03     6.981000  ...       0.106000                0.049960
25%    9.299525e+04    11.700000  ...       0.161900                0.057700
50%    9.327950e+04    13.370000  ...       0.179200                0.061540
75%    9.060125e+05    15.780000  ...       0.195700                0.066120
max    9.113205e+08    28.110000  ...       0.304000                0.097440

[8 rows x 10 columns]

In [ ]:
#NUMPY functions-> they are calculated every time you invoke the function!
# direct call to objects instead of functions using PANDAS
stats = data.describe()

In [ ]:
stats.columns

Index(['id', 'radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean',
       'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'symmetry_mean', 'fractal_dimension_mean'],
      dtype='object')

In [ ]:
# versus-> MATRIX-> transpose
# T-> converts rows into columns and vice versa

In [ ]:
stats = data.describe().T
stats.columns

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [ ]:
# taking transpose helps in directly selecting the name of columns we need!

allmeans = stats['mean']
allstd = stats['std']

In [ ]:
z_score = (data-allmeans)/allstd
z_score
# -inf to +inf where the mean is assumed to be 0, and all other values
# have been scaled with respect to the mean

      area_mean  compactness_mean  ...  symmetry_mean texture_mean
0      0.983942          3.282072  ...       2.216540    -2.072424
1      1.907869         -0.486858  ...       0.001392    -0.353477
2      1.558199          1.052463  ...       0.939272     0.455986
3     -0.764128          3.401414  ...       2.866123     0.253621
4      1.825427          0.539103  ...      -0.009556    -1.151310
...         ...               ...  ...            ...          ...
1133   2.342826          0.218964  ...      -0.312451     0.721156
1134   1.723084         -0.017825  ...      -0.217569     2.084218
1135   0.577699         -0.038663  ...      -0.808761     2.044675
1136   1.734455          3.270706  ...       2.136255     2.335430
1137  -1.347197         -1.150247  ...      -0.819710     1.221255

[1138 rows x 11 columns]

In [17]:
# Slicing and Dicing
# being able to select, extract and anything else! 
# is to extract a smaller DataFrame from the entire DataSet 
# dataset-> is a pointer to complete data
# dataframe-> is a selection from dataset (of the data we need)

In [18]:
# dataframe always resides in the RAM
# if the data to LOAD was 10 GB 
# DataFrame undergoes SHARDING-> (replication of 3)
# the actual load on RAM was 10X3 = 30 GB

In [19]:
# when saved or written on disk-> Resilient Distributed Datasets
# when on ram-> could be a dataframe or any other structured set

In [20]:
# 2 options:
# selection by index
# selection by name

# df2 = data.iloc [row selection, column selection]
df2 = data.iloc[1:2,-2:] # excluding row 2 with 1:2

In [21]:
df2

   symmetry_mean  fractal_dimension_mean
1         0.1812                 0.05667

In [22]:
# by name
data.loc[1:3, ['radius_mean', 'symmetry_mean']]

# sharding-> each shard has all the column names but a few rows 
# every column is its own file

   radius_mean  symmetry_mean
1        20.57         0.1812
2        19.69         0.2069
3        11.42         0.2597